<?xml version='1.0' encoding='utf-8' ?><data><event id="85">

        	<start_date>2009-12-15 16:00:00</start_date>

        	<end_date>2009-12-16 16:00:00</end_date>

        	<text><![CDATA[ssss]]></text>

        	<details><![CDATA[sssss]]></details>

        </event><event id="86">

        	<start_date>2012-06-19 16:00:00</start_date>

        	<end_date>2012-06-21 16:00:00</end_date>

        	<text><![CDATA[fffff]]></text>

        	<details><![CDATA[sssddddddddd]]></details>

        </event></data>